@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght@8..144,-10..0,25..151,100..1000");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800");

:root {
  --font: "Roboto Flex", sans-serif;
  --code: "JetBrains Mono", monospace;
  --thickness: 1;
  --wdth: 100;

  --bg: #111;
  --bg2: #222;
  --bg3: #333;
  --text: #fff;

  --blue-bg-color: #112;
  --blue-border-color: #223;
  --accent-color: #55f;
  --link-color: #aaf;
}

* {
  color: var(--text);
  font-family: var(--font);
  line-height: 100%;
  text-align: justify;
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
}

/* HEADER */

header {
  align-items: center;
  align-self: stretch;
  backdrop-filter: blur(10px);
  background: #2222;
  border-bottom: 2px solid var(--bg3);
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 0;
}

header div {
  align-items: center;
  display: flex;
  gap: 16px;
}

header h3 {
  font-family: Georgia, serif;
  font-variant: small-caps;
  font-weight: bold;
}

header a {
  border-bottom: 2px solid transparent;
  color: var(--text);
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 300);
  padding: 8px;
  text-align: center;
  transition: 0.25s;
}

header a:hover {
  border-bottom: 2px solid #f55;
  font-variation-settings: "wdth" calc(var(--wdth) * 1.5), "wght" calc(var(--thickness) * 600);
  text-decoration: none;
}

header a.selected {
  border-bottom: 2px solid #f55;
  color: #fff;
  font-variation-settings: "wdth" calc(var(--wdth) * 1.5), "wght" calc(var(--thickness) * 600);
  text-decoration: none;
}

header a.download {
  background: #fff;
  border-bottom: 2px solid #f55;
  border-radius: 4px;
  color: #000;
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 600);
}

header a.download:hover {
  background: #f55;
  border-bottom: 2px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-variation-settings: "wdth" calc(var(--wdth) * 1.5), "wght" calc(var(--thickness) * 600);
}

/* SECTION */

section {
  display: flex;
  max-width: 1080px;
}

/* NAV */

nav {
  background: #222;
  border-left: 2px solid var(--bg3);
  border-right: 2px solid var(--bg3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  height: calc(100vh - 100px) !important;
  max-width: 100px;
  min-width: 100px;
  padding: 16px;
  position: sticky;
  top: 68px;
}

nav > h3 {
  text-align: right;
  width: 100%;
}

nav > a {
  border-right: 2px solid transparent;
  color: #aaa;
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 300);
  text-align: right;
  transition: 0.25s;
  width: 100%;
}

nav > a:hover {
  border-right: 2px solid #fff;
  color: #fff;
  font-variation-settings: "wdth" calc(var(--wdth) * 1.5), "wght" calc(var(--thickness) * 600);
  text-decoration: none;
  padding-right: 8px;
}

article {
  display: flex;
  flex-direction: column;
  padding: 0px;
  max-width: 700px;
}

/* TEXT AND THAT KINDA STUFF */

h1 {
  font-size: 32px;
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 300);
  margin: 8px;
}

h2 {
  font-size: 24px;
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 400);
  margin: 8px;
}

h3 {
  font-size: 20px;
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 480);
  margin: 0px;
}

p {
  font-size: 16px;
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 300);
  margin: 8px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a.hover {
  text-decoration: underline solid currentColor 1px;
}

abbr {
  text-decoration-thickness: 1px;
}

b {
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 600);
}

button {
  font-family: var(--text);
  font-size: 16px;
  font-variation-settings: "wdth" var(--wdth), "wght" calc(var(--thickness) * 300);
}

blockquote {
  font-size: 16px;
  font-variation-settings: "slnt" -10, "wdth" var(--wdth), "wght" calc(var(--thickness) * 300);
}

pre {
  font-family: var(--code);
  font-variation-settings: "wght" calc(var(--thickness) * 300);
  background-color: var(--bg2);
  border: 1px solid var(--bg3);
  padding: 16px;
  margin: 8px;
}

/* Ik ben altijd real */
