@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --title: Rubik, sans-serif;
  --text: Rubik, sans-serif;
  --code: "JetBrains Mono", monospace;

  --bg-color: #151515;
  --bg2-color: #2a2a2a;
  --border-color: #3f3f3f;
  --title-color: #fff;
  --text-color: #fff;

  --blue-bg-color: #00002a;
  --blue-border-color: #15153f;
  --accent-color: #55f;
  --link-color: #aaf;
}

body {
  display: flex;
  font-family: var(--text);
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: justify;
  margin: 0px;
  width: 100%;
  transition: 0.2s;
}

nav {
  display: flex;
  flex-direction: column;
  width: 128px;
  padding: 16px;
}

header {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding: 0px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  padding: 0px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 460px);
  margin: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 256px;
  background-color: var(--blue-bg-color);
  border: 1px solid var(--blue-border-color);
  margin: 8px;
  padding: 0px;
}

p {
  font-size: 16px;
  font-weight: 300;
  margin: 8px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a.hover {
  text-decoration: underline solid currentColor 1px;
}

abbr {
  text-decoration-thickness: 1px;
}

b {
  font-weight: 600;
}

button {
  font-family: var(--text);
  font-size: 16px;
  font-weight: 300;
}

pre {
  font-family: var(--code);
  background-color: var(--bg2-color);
  border: 1px solid var(--border-color);
  padding: 16px;
  margin: 8px;
}

blockquote {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

h1 {
  font-family: var(--title);
  color: var(--title-color);
  font-size: 32px;
  font-weight: 300;
  border-bottom: 1px solid var(--border-color);
  margin: 8px;
}

h2 {
  font-family: var(--title);
  font-size: 24px;
  font-weight: 400;
  color: var(--title-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 8px;
}

h3 {
  font-family: var(--title);
  font-size: 16px;
  color: var(--title-color);
  font-weight: 600;
  margin: 8px;
}

h4 {
  font-family: var(--title);
  font-size: 12px;
  color: var(--title-color);
  font-weight: 800;
  margin: 8px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg2-color);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}
