@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760");

:root {
  --bg: #eef;
  --bg2: #ddf;
  --bg3: #ccf;
  --t: #000;
  --width: 1280px;
  --show: none;
}

/* SECTIONS */

body {
  align-items: center;
  background: var(--bg);
  color: var(--t);
  display: flex;
  flex-direction: column;
  font-family: "Roboto Flex", sans-serif;
  font-variation-settings: "wght" 400;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 64px;
  margin-right: 64px;
  text-align: justify;
}

header {
  align-items: baseline;
  display: flex;
  width: 720px;
}

article {
  background: var(--bg);
  border-radius: 16px;
  box-shadow: -16px -16px 16px #fff, 16px 16px 16px #ddf;
  display: flex;
  flex-direction: column;
  width: 720px;
}

div.showHide {
  border-top: 8px solid var(--bg2);
  border-bottom: 8px solid var(--bg2);
  display: var(--show);
  flex-direction: column;
  padding-top: 16px;
  margin-bottom: 16px;
}

div.actions {
  align-items: baseline;
  display: flex;
  margin-top: -8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

/* PRIMARY TEXTS */

h1 {
  font-size: 32px;
  font-variation-settings: "wght" 800;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

h1 abbr {
  text-decoration: 9px #555 underline;
}

h2 {
  font-size: 24px;
  font-variation-settings: "wght" 800;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

h3 {
  font-size: 20px;
  font-variation-settings: "wght" 800;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

h4 {
  font-size: 16px;
  font-variation-settings: "wght" 800;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

/* SECONDARY TEXTS */

a {
  background: #ddf;
  color: #00a;
  text-decoration: none;
}

a:hover {
  text-decoration: 1px underline;
}

a:focus {
  color: #fa0;
}

a.btn {
  background: var(--bg);
  border-radius: 16px;
  box-shadow: -8px -8px 8px #fff, 8px 8px 8px #ddf, inset 0px 0px 0px #fff, inset 0px 0px 0px #ddf;
  font-variation-settings: "wdth" 25, "wght" 400;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.25s;
}

a.btn:hover {
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #ddf, inset -8px -8px 8px #fff, inset 8px 8px 8px #ddf;
  font-variation-settings: "wdth" 100, "wght" 800;
  text-decoration: none;
}

a.disabledBtn {
  color: #555;
  background: #eee;
  border-radius: 16px;
  box-shadow: -8px -8px 8px #fff, 8px 8px 8px #ddd;
  font-variation-settings: "wdth" 25, "wght" 400;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}

a.disabledBtn:hover {
  text-decoration: none;
}

b {
  font-variation-settings: "wght" 800;
}

i {
  font-style: normal;
  font-variation-settings: "slnt" -10;
}
p.copyright {
  color: #aaf;
  font-variation-settings: "wdth" 25, "wght" 400;
}

sup,
sub {
  font-size: 0.5em;
  font-variation-settings: "wdth" 151, "wght" 800;
}

/* HEADER TEXTS */

header h6 {
  margin: 0px;
  padding: 8px;
}

header p {
  margin: 0px;
}

header a,
div.actions a {
  background: none;
  color: #00a;
  font-variation-settings: "wdth" 25, "GRAD" 0;
  padding: 8px;
  text-transform: uppercase;
  transition: 0.25s;
  width: fit-content;
}

header a:hover,
div.actions a:hover {
  background: var(--bg2);
  font-variation-settings: "wdth" 25, "GRAD" 150;
  color: #00a;
  text-decoration: none;
}

header div {
  flex-grow: 1;
}

/* MISC */

::-webkit-scrollbar {
  display: none;
}
