@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --display: "Bebas Neue", cursive;
  --sans: "Roboto", sans-serif;
}

body {
  display: flex;
  background: #111;
  color: #fff;
  flex-direction: column;
  font-size: 16px;
  font-family: var(--sans);
  margin: 0;
  height: 100vh;
}

/* HEADER */

header {
  align-items: center;
  background: linear-gradient(#222, #111);
  border-bottom: 2px solid #222;
  display: flex;
  gap: 16px;
  padding: 16px;
}

/* ARTICLE */

article {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* CARDS */

article.cards {
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 384px);
  padding: 16px;
}

article.cards div {
  align-self: stretch;
  background: #111;
  border-bottom: 2px solid #222;
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: 0.2s;
}

article.cards div:hover {
  background: #222;
  border-radius: 16px;
}

/* MISC */

h1 {
  font-family: var(--display);
  font-size: 32px;
  font-weight: normal;
  margin: 0;
}

h1.error {
  color: #222;
  line-height: 0;
  font-size: 25vw;
}

h1.big {
  font-size: 25vw;
}

p {
  font-family: var(--sans);
  font-weight: normal;
  margin: 0;
  font-size: current;
}

p.average {
  font-size: 2vw;
}

p.big {
  font-size: 5vw;
}

p.bigger {
  font-size: 10vw;
}

p.grey {
  color: #555;
}

a {
  color: #aaf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  color: #fa0;
}

input,
button {
  font-family: var(--sans);
}
